{% extends 'main/base.html' %}
{% block content %}
<div class="cards">
<section class="card">
  <h2>Perfil de Usuario</h2>
  <div>
    <strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }} <br>
    <strong>RUT:</strong> {{ usuario.rut }}<br>
    <strong>Sede:</strong> {{ usuario.sede }}<br>
    <strong>Carrera:</strong> {{ usuario.carrera }}<br>
    {% if not usuario.es_tutor %}
    <strong>Semestre:</strong> {{ usuario.semestre_actual }}<br>
    {% endif %}
    {% if not usuario.es_tutor %}
      <strong>Promedio:</strong> {{ usuario.promedio_general }}<br>
    {% endif %}
    {% if usuario.es_tutor %}
      <strong>¡Eres Tutor! Revisa tu <a href="{% url 'mi_disponibilidad' %}">Disponibilidad</a></strong><br>
    {% endif %}
  </div>
</section>
<section class="card">
  <h3>Logros</h3>
  <ul>
    {% for l in usuario.logros.all %}
      <li>{{ l.logro.icono }} {{ l.logro.nombre }} - {{ l.logro.descripcion }}</li>
    {% empty %}
      <li>Aún no tienes logros.</li>
    {% endfor %}
  </ul>
</section>
</div>
{% endblock %}
